.container-admin.col-md-3.col-sm-6
  %h2 Create User
  = form_for(@user) do |f|
    .row
      = f.label :email
    .row
      = f.email_field :email, :autofocus => true, class: ['textfield', 'col-xs-12']
    .row
      = f.label :password
    .row
      = f.password_field :password, class: ['textfield', 'col-xs-12']
    .row
      = f.label :password_confirmation
    .row
      = f.password_field :password_confirmation, class: ['textfield', 'col-xs-12']
    .row
      = f.submit "Create User", class: ['btn', 'btn-lg', 'btn-success']
