.container-admin.col-md-3.col-sm-6
  %h2 Create User
  = form_for(@user) do |f|
    %div
      = f.label :email
      %br/
      = f.email_field :email, :autofocus => true
    %div
      = f.label :password
      %br/
      = f.password_field :password
    %div
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
      %p
    %div= f.submit "Create User"
