.table-responsive.col-sm-12.col-md-9.hidden-xs.visible-sm.visible-md.visible-lg
  %table.table.table-hover
    %thead
      %tr
        %th
          Household Name
        %th
          Family Members
        %th
          Interview
          
    %tbody
      - @households.reverse.each do |household|
        %tr
          %td{rowspan: household.people.count + 2}
            = link_to household.name, household
          - household.people.each_with_index do |person, index|
            %tr
              %td
                = link_to person.given_name, person 
              - if index == 0
                %td
                  - interview = household.interview
                  - if interview.nil?
                    = link_to "Interview Family", new_household_interview_path(household), class: [:'button-emphasis']
                  -else
                    = link_to 'View Nutrition', interview, id: "#{interview.id}_show"
          %tr
            %td
              = link_to 'Add Person', new_household_person_path(household), class: [(:'button-emphasis' if household.people.count == 0), (:'button' unless household.people.count == 0)]

.table-responsive.col-xs-12.hidden-sm.hidden-md.hidden-lg
  %table.table.table-hover
    %thead
      %tr
        %th
          Household
        %th
          Next Step
    - @households.each do |household|
      %tbody
        %tr
          %td
            = link_to household.name, household#, class: ['btn', 'btn-primary']
          %td
            - interview = household.interview
            - if household.people.count == 0
              = link_to 'Add Person', new_household_person_path(household), class: [:btn, (:'btn-primary' if household.people.count == 0), (:'btn-info' unless household.people.count == 0)]
            - elsif interview.nil?
              = link_to "Interview Family", new_household_interview_path(household), class: ['btn', 'btn-primary']
            - else
              = link_to 'View Nutrition', interview, id: "#{interview.id}_show"#, class: ['btn', 'btn-primary']
