.row
  .table-responsive
    %table.table.table-hover
      %thead
        %tr
          %th
            Household Name
          %th
            Family Members
          %th
            Interview
            
      %tbody
        - @households.each do |household|
          %tr
            %td{rowspan: household.people.count + 1}
              = link_to household.name, household, class: ['btn', 'btn-info']
          - household.people.each do |person|
            %tr
              %td
                = link_to person.given_name, person 
                %td
                  -interview = Interview.where({household_id: household.id})
                  - if interview.blank?
                    = "None"
                  -else
                    = link_to 'Show in Progress', interview[0], id: "#{interview[0].id}_show"
              

                
