.container
  %h1
    Dashboard

  .btn-toolbar
    = link_to 'New Household', new_household_path, class: [:'button']
    = link_to 'New Meeting', new_event_path, class: [:'button']
  %br

  .row
    = render 'manager_partial'

  .row
    = render 'dashboard_list'
    = render 'meetings_list'
