.row
  .col-sm-12
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          Sign in
      .panel-body
        = form_for(:user, url: households_path, method: :post) do |f|
          .row.form-group
            = f.label :email, class: ["col-sm-3", 'label-control']
            .col-sm-9
              = f.email_field :email, :autofocus => true, class: [:textfield, 'form-control']
          .row.form-group
            = f.label :password, class: ["col-sm-3", "col-md-3"]
            .col-sm-9
              = f.password_field :password, class: [:textfield, 'form-control', "col-sm-7", "col-md-8"]
          .row
            = f.submit "Sign in", class: [:btn, "btn-success", "btn-large", "col-sm-4", "col-md-2"]

        
