= form_for(@path) do |form| 
  .row
    = form.label :given_name, class: ["col-sm-4", "col-md-3"]
    = form.text_field :given_name, class: [:textfield, "col-sm-8", "col-md-9"]
  
  .row
    = form.label :family_name, class: ["col-sm-4", "col-md-3"]
    = form.text_field :family_name, class: [:textfield, "col-sm-8", "col-md-9"]

  .row
    = form.label :family_relationship, class: ["col-sm-4", "col-md-3"]
    = form.select :family_relationship, @relationships
  
  .row
    = form.label :birthday, class: ["col-sm-4" , "col-md-3"]
    = form.date_select :birthday, start_year: 1900, end_year: Time.now.year, class: "Hello"
  
  .row
    = form.label :education_level, class: ["col-sm-4" , "col-md-3"]
    = form.select :education_level, ['None', 'Some Elementary', 'Elementary', 'Some Secondary', 'Secondary', 'Some College', 'College']  
  
  .row
    = form.label :gender, class: ["col-sm-4" , "col-md-3"]
    = form.select :gender, ['Male', 'Female', 'Other']  
  
  .row
    = form.label :in_school, class: ["col-sm-4" , "col-md-3"]
    = form.check_box :in_school  
  
  .row
    = form.submit :Submit, class: [:btn, "btn-success", "btn-large", "col-sm-3"]
