%p#notice
	= notice

%h1
	Show Interview

.row
	= link_to 'Edit Interview', edit_interview_path(@interview), class: [:btn, "btn-large", "btn-success", "col-sm-2", :right]

- unless @household.people.count == 0
	= nutrient_row "Calories", @interview.calories, 2000, @household.people.count
	= nutrient_row "Grams of Sugar", @interview.sugars_grams, 37.5, @household.people.count
	= nutrient_row "Grams of Protein", @interview.protein_grams, 50, @household.people.count
	= nutrient_row "Grams of Sodium", @interview.sodium_grams, 2, @household.people.count
	= nutrient_row "Grams of Cholesterol", @interview.cholesterol_grams, 0.3, @household.people.count
- else
	.row
		%p
			Can't figure out nutritional info without people in the household

