%p#notice
	= notice

%h1
	Show Interview

%h2
	Calories

.row
	= @interview.calories
	Calories divided amongst
	= @household.people.count
	people

- if @household.people.count > 0
	.row
		That's
		= @interview.calories / @household.people.count
		Per Person

= link_to 'Edit', edit_interview_path(@interview)
