.row
  %h1
    = @user.email

- if flash[:alert]
  .alert
    = flash[:alert]
- if flash[:notice]
  .notice
    = flash[:notice]

%h2
  Assigned
- assign = false
#assigned.row
  - @user.roles.each do |role|
    = render 'role_panel', role: role, assign: false

%h2
  Assignable

#unassigned.row
  - @roles.each do |role|
    - unless @user.roles.include? role
      = render 'role_panel', role: role, assign: true
