
.row  
  .col-sm-6.col-md-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          = "Areas"
      .panel-body.index
        - @areas.each do |area|
          %ul
            %li
              = area.name
              %ul
                %li
                  = link_to 'View', area
                %li
                  = link_to 'Edit', edit_area_path(area)
                %li
                  = link_to 'Delete', area, method: :delete, data: {confirm: 'Are you sure'}
.row
= link_to 'New Area', new_area_path