.row.btn-toolbar
  = link_to 'Assign Worker', dashboard_path, class: [:btn, "btn-large", "btn-success", "col-sm-offset-8", "col-md-offset-10", "col-sm-3", "col-md-2", :right], id: :interview_household

= link_to 'Edit', edit_area_path(@area)
|
= link_to 'Back', areas_path

%p
  %b
    Name:
  = @area.name

%h2
  Assigned
.row
  - @area.users.each do |user|
    .col-sm-6.col-md-4
      .panel.panel-primary
        .panel-heading
          %h3.panel-title
            = user.email
        .panel-body
          = # fw.relationship
          = link_to  "Unassign #{user.area_relationships.where(area_id: @area.id).first.relationship}", destroy_area_user_path(@area, user), method: :delete, id: "#{user.id}_unassign", class: [:btn, :"btn-success", :"col-xs-12"]

%h2
  Unassigned

- if @users.empty?
  %p 
    No users have been assigned as any roles.
- else
  .row
    - @users.each do |user|
      - unless @area.users.include? user
        .col-sm-6.col-md-4
          .panel.panel-primary
            .panel-heading
              %h3.panel-title
                = user.email
            .panel-body
              Select Role
              .row
                = link_to  'Field Worker', new_area_user_path(@area, user, 'Field Worker'), method: :post, id: "#{user.id}_assign", class: [:btn, :"btn-success", :"col-xs-12"]
              .row
                = link_to  'Manager', new_area_user_path(@area, user, 'Manager'), method: :post, id: "#{user.id}_assign", class: [:btn, :"btn-success", :"col-xs-12"]