.container
  .row
    .col-xs-12
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .row.form-group
          = f.label :email, class: [:'col-xs-3', :'col-sm-2', :'label-control', :'text-right']
          .col-xs-9.col-sm-10
            = f.email_field :email, :autofocus => true, class: [:'form-control']
        .row.form-group
          = f.label :password, class: [:'col-xs-3', :'col-sm-2', :'text-right']
          .col-xs-9.col-sm-10
            = f.password_field :password, class: [:'form-control', :'col-xs-7', :'col-md-8']

        - if devise_mapping.rememberable?
          .row.form-group
            = f.label :remember_me, class: [:'col-xs-3', :'col-sm-2', :'text-right']
            .col-xs-9.col-sm-10
              = f.check_box :remember_me

        .row
          = f.submit :'Sign in', class: [:btn, :'btn-primary', :'btn-lg', :'col-xs-4', :'col-sm-3', :'col-md-2']

        = render 'devise/shared/links'
