.container
  .row
    .col-xs-12
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .form-row
          = f.label :email
          .text-control
            = f.email_field :email, :autofocus => true, class: [:'text-field']
        .form-row
          = f.label :password, class: [:'col-xs-3', :'col-sm-2', :'text-right']
          .text-control
            = f.password_field :password, class: [:'text-field']

        - if devise_mapping.rememberable?
          .form-row
            = f.label :remember_me, class: [:'col-xs-3', :'col-sm-2', :'text-right']
            .col-xs-9.col-sm-10
              = f.check_box :remember_me

        .row
          = f.submit :'Sign in', class: [:'submit']

        = render 'devise/shared/links'
