<div class="row"/>
	<nav>             	
	<ul>

		<li><%= link_to 'Home', root_url %></li>
		<li><%= link_to 'Households', households_path %></li>
		<li><%= link_to 'ftwdev2', "http://ftwdev2.evancaldwell.com/" %></li>
		<li><%= link_to 'SIRI', "http://www.sirinstitute.org/" %></li>
		<li><%= link_to 'Contact Us', "http://www.dilbert.com" %></li>
	</ul>
	</nav>
</div>
