<!DOCTYPE html>
<html>
	<head>
		<title>Sra</title>
		<%= stylesheet_link_tag    "households", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= render :partial => '/layouts/navbar' %>


		<div>
    		<%= yield %>
			<% if alert %>
				<div class="alert"><%= alert %></div>
			<% end %>
    	</div>


		<footer>

		&copy; RSA | Images: <a href="http://fotogrph.com">Fotogrph</a> + <a href="http://iconify.it">Iconify.it</a> | Design: <a href="http://html5up.net/">HTML5 Up!</a> | highly edited by Luke Brewer

		</footer>

	</body>
</html>
