!!! 5
%html
  %head
    %meta{:content => "initial-scale = 1.0,maximum-scale = 1.0", :name => "viewport"}/
    %title
      Sra

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application", :media => "all"
    = csrf_meta_tags

  %body

    = render :partial => '/layouts/navbar'

    = flash[:alert] if flash[:alert]

    = yield

    = render '/layouts/footer'
