<!DOCTYPE html>
<html>
	<head>
		<title>Sra</title>
		<%= stylesheet_link_tag    "households", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<nav>             	
		<ul>

			<li><%= link_to 'Home', root_url %></li>
			<li><a href="http://ftwdev2.evancaldwell.com/">ftwdev2</a></li>
			<li><a href="http://www.sirinstitute.org/">SIRI</a></li>
			<li><a href="http://www.dilbert.com"> contact</a></li>

		</ul>
		</nav>




		<%= yield %>



		<footer>

		&copy; RSA | Images: <a href="http://fotogrph.com">Fotogrph</a> + <a href="http://iconify.it">Iconify.it</a> | Design: <a href="http://html5up.net/">HTML5 Up!</a> | highly edited by Luke Brewer

		</footer>

	</body>
</html>
