!!! 5
%html
	%head
		%title
			Sra
		= stylesheet_link_tag "households", :media => "all"
		= javascript_include_tag "application", :media => "all"
		= csrf_meta_tags
	%body

		= render :partial => '/layouts/navbar'

		= yield
    
		= render '/layouts/footer'