!!! 5
%html
	%head
		%title
			Sra
		= javascript_include_tag "application", media: "all"
		= stylesheet_link_tag "static", media: "all"
		= csrf_meta_tags

	%body

		= render :partial => '/layouts/navbar'

		= yield

		= render '/layouts/footer'
