<!DOCTYPE html>
<html>
	<head>
		<title>Sra</title>
		<%= stylesheet_link_tag    "static", :media => "all" %>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= render :partial => '/layouts/navbar' %>
		<%= render :partial => '/layouts/contact' %>



		<%= yield %>



		<footer>

		&copy; RSA | Images: <a href="http://fotogrph.com">Fotogrph</a> + <a href="http://iconify.it">Iconify.it</a> | Design: <a href="http://html5up.net/">HTML5 Up!</a> | highly edited by Luke Brewer

		</footer>

	</body>
</html>
