= form_for(@household) do |f|
  .row
    = f.label :name, class: "col-sm-2"
    = f.text_field :name, class: [:textfield, "col-sm-8", "col-md-9"]

/dropdown menu
  .row
    = form.label :education_level, class: ["col-sm-4", "col-md-3"]
    = form.select :education_level, ['None', 'Some Elementary', 'Elementary', 'Some Secondary', 'Secondary', 'Some College', 'College']  

/checkbox  
  .row
    = form.label :in_school, class: ["col-sm-4", "col-md-3"]
    = form.check_box :in_school  

/prechecked checkbox  
  .row
    = form.label :is_alive, class: ["col-sm-4", "col-md-3"]
    = form.check_box :is_alive, checked: true 
  
  .row
    = f.submit 'Submit', class: [:btn, "btn-success", "btn-large", "col-sm-2"]

/Household questions----------------------------------------------------------
  .row
    = form.label :Who_owns_the_home, class: ["col-sm-4", "col-md-3"]
    = form.select :Who_owns_the_home, ['They Own', 'Leased', 'Borrowed', 'Gifted']

  .row
    = form.label :Roof, class: ["col-sm-4", "col-md-3"]
    = form.select :Roof, ['Cement', 'Tin', 'Tile', 'Thatch', 'Timber']

  .row
    = form.label :Wall, class: ["col-sm-4", "col-md-3"]
    = form.select :Wall, ['Brick', 'Adobe', 'Timber', 'Thatch']

  .row
    = form.label :Floor, class: ["col-sm-4", "col-md-3"]
    = form.select :Floor, ['Cement', 'Tile', 'Timber', 'Timber']

  .row
    = form.label :Number_of_sleeping_rooms, class: ["col-sm-4", "col-md-3"]
    = form.select :Number_of_sleeping_rooms, ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']
  
  .row
    = form.label :kitchen_Separate, class: ["col-sm-4", "col-md-3"]
    = form.check_box :kitchen_Separate, checked: False 
 
  .row
    = form.label :Light, class: ["col-sm-4", "col-md-3"]
    = form.check_box :Light, checked: False 
 
  .row
    = form.label :Fule, class: ["col-sm-4", "col-md-3"]
    = form.select :Fule, ['Gas', 'wood', 'Combined', 'other']
  
  .row
    = form.label :Water_Sorce, class: ["col-sm-4", "col-md-3"]
    = form.select :Water_Sorce, ['Pipped', 'River or Canal', 'Well']

  .row
    = form.label :Water_is_Clorinated, class: ["col-sm-4", "col-md-3"]
    = form.check_box :Water_is_Clorinated, checked: False 
  
  .row
    = form.label :Bathroom, class: ["col-sm-4", "col-md-3"]
    = form.select :Bathroom, ['Outhouse', 'Open Field', 'Bathroom w/ Well']

  .row
    = form.label :Sewer_Disposal, class: ["col-sm-4", "col-md-3"]
    = form.select :Sewer_Disposal, ['Sewer', 'Open Field', 'Bogg']

/People In the home and their costs ----------------------------------------
  .row
    = form.label :Number_of_Peopel_in_Home, class: ["col-sm-4", "col-md-3"]
    = form.select :Number_of_Peopel_in_home, [@Numberofpeopelinhousehold]

  .row
    = form.label :Average_Income, class: ["col-sm-4", "col-md-3"]
    = form.select :Average_Income [@Average_Income]

  .row
    = form.label :Average_cost_of_Shoes, class: ["col-sm-4", "col-md-3"]
    = form.select :Average_cost_of_Shoes, ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']

  .row
    = form.label :Average_cost_of_Medicin, class: ["col-sm-4", "col-md-3"]
    = form.select :Average_cost_of_Medicin, ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']

  .row
    = form.label :Average_cost_of_Normal_Schooling, class: ["col-sm-4", "col-md-3"]
    = form.select :Average_cost_of_Normal_Schooling, ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']
 
  .row
    = form.label :Average_cost_of_colledge, class: ["col-sm-4", "col-md-3"]
    = form.select :Average_cost_of_colledge, ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']
 
  .row
    = form.label :Average_cost_of_Water_and_Electrical, class: ["col-sm-4", "col-md-3"]
    = form.select :Average_cost_of_Water_and_Electrical, ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']
  
  .row
    = form.label :Average_cost_of_Misc, class: ["col-sm-4", "col-md-3"]
    = form.select :Average_cost_of_Misc, ['One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'Nine', 'Ten']

  .row
    = form.label :Radio, class: ["col-sm-4", "col-md-3"]
    = form.check_box :Radio, checked: false 
  
  .row
    = form.label :TV, class: ["col-sm-4", "col-md-3"]
    = form.check_box :TV, checked: false 
  
  .row
    = form.label :Referigerator, class: ["col-sm-4", "col-md-3"]
    = form.check_box :Referigerator, checked: false 

/Food!!!------------------------------------------------------------------
 /Staples 
   
   .row
    = form.label :Staples, class: ["col-sm-4", "col-md-3"]
    = form.select :Staples, ['Maize', 'Wheat', 'Rice', 'Noodles', 'Amaranth', 'Barly', 'Curry', 'Potato', 'Sweet Potato', 'Yam', 'Avena', 'Plantain', 'Cassava', 'Oats']  
    
    = form.label :amount, class: ["col-sm-4", "col-md-3"]
    = form.select :amount, ['Small', 'Normal', 'Large']
    
    = form.label :Often, class: ["col-sm-4", "col-md-3"]
    = form.select :Often, ['Daily', 'Weekly', 'Monthly']

/Protien
  .row
    = form.label :Protien, class: ["col-sm-4", "col-md-3"]
    = form.select :Protien, ['Beef', 'Pig', 'Chicken', 'Rabbit', 'Eggs', 'Lentel', 'Beans', 'Peanuts', 'Pea','Cuy']  
    
    = form.label :amount, class: ["col-sm-4", "col-md-3"]
    = form.select :amount, ['Small', 'Normal', 'Large']
    
    = form.label :Often, class: ["col-sm-4", "col-md-3"]
    = form.select :Often, ['Daily', 'Weekly', 'Monthly']

/Vegatables
  .row
    = form.label :Vegatables, class: ["col-sm-4", "col-md-3"]
    = form.select :Vegatables, ['Spinach', 'Turnip', 'Radish', 'Broccoli', 'Beet', 'Pumpkin', 'Radish Leaves', 'Col', 'Pickle', 'Squash', 'Gord', 'pope', 'Panela', 'carrot', 'Uvillas', 'Chard', 'Cauliflower', 'lettuce', 'Cabbage', 'Red Cabbage', 'Onion', 'Long onion', 'TomatoKidney']  
    
    = form.label :amount, class: ["col-sm-4", "col-md-3"]
    = form.select :amount, ['Small', 'Normal', 'Large']

    = form.label :Often, class: ["col-sm-4", "col-md-3"]
    = form.select :Often, ['Daily', 'Weekly', 'Monthly']

/Fruit
  .row
    = form.label :Fruit, class: ["col-sm-4", "col-md-3"]
    = form.select :Fruit, ['Tomato', 'Pepper', 'Lemmon', 'Tree Tomato', 'Strayberry', 'Bannana', 'Yucca']  
    
    = form.label :amount, class: ["col-sm-4", "col-md-3"]
    = form.select :amount, ['Small', 'Normal', 'Large']
    
    = form.label :Often, class: ["col-sm-4", "col-md-3"]
    = form.select :Often, ['Daily', 'Weekly', 'Monthly']

/fattening
  .row
    = form.label :Fattening, class: ["col-sm-4", "col-md-3"]
    = form.select :Fattening, ['Milk', 'Cheese', 'Butter', 'Oil', 'honey', 'Sugar'] 
    
    = form.label :amount, class: ["col-sm-4", "col-md-3"]
    = form.select :amount, ['Small', 'Normal', 'Large']
    
    = form.label :Often, class: ["col-sm-4", "col-md-3"]
    = form.select :Often, ['Daily', 'Weekly', 'Monthly']

/bought
  .row
    = form.label :Bought, class: ["col-sm-4", "col-md-3"]
    = form.select :Bought, ['Cooked Rice', 'Colada Oats Sweet', 'Soup wheat', 'Wheat Tortilla'] 
    
    = form.label :amount, class: ["col-sm-4", "col-md-3"]
    = form.select :amount, ['Small', 'Normal', 'Large']
    
    = form.label :Often, class: ["col-sm-4", "col-md-3"]
    = form.select :Often, ['Daily', 'Weekly', 'Monthly']

/People more info Needed ------------------------------------------------------
///job discription and pay  

/Personal cleaning habbits along with Food Preperation

/household do the people get sick
  .row
    = form.label :how_often_you_get_sick, class: ['col-sm-4', 'col-md-3']
    = form.select :how_often_you_get_sick, ['Monthly', 'biannual', 'Yearly', '4 years', '8 years']
  
  .row
    = form.label :treatments, class: ['col-sm-4', 'col-md-3']
    = form.select :treatments, ['in house', 'local shawman', 'Vet', 'Doctor']
