.row
	= link_to 'Households', households_path, class: [:btn, "btn-large", "btn-success", "col-sm-2"], id: :back

.row
	%h1= @household.name + " Household"

.row.btn-toolbar
	= link_to 'Interview', new_household_interview_path(@household), class: [:btn, "btn-large", "btn-success", "col-sm-offset-8", "col-md-offset-10", "col-sm-3", "col-md-2", :right], id: :interview_household
	= link_to 'Add Person', new_household_person_path(@household), class: [:btn, "btn-large", "btn-success", "col-sm-offset-8", "col-md-offset-10", "col-sm-3", "col-md-2", :right], id: "add_person_top"
	= link_to 'Rename', edit_household_path(@household), class: [:btn, "btn-large", "btn-success", "col-sm-offset-8", "col-md-offset-10", "col-sm-3", "col-md-2", :right], id: "rename_top"
	= link_to 'Nutrition', interview_path(Interview.where({household_id: @household.id}).last), class: [:btn, "btn-large", "btn-success", "col-sm-offset-8", "col-md-offset-10", "col-sm-3", "col-md-2", :right], id: "nutrition"

- if @people.size > 0
	.row
		- @people.each do |person|
			.col-sm-6.col-md-4
				.panel.panel-primary
					.panel-heading
						%h3.panel-title
							= person.given_name
							= person.family_name
						= link_to 'X', person, method: :delete, class: :right, id: "#{person.id}_remove"
					.panel-body
						%ul
							%li.alabel
								= person.gender
							%li.alabel 
								= "Born #{person.birthday}"
						= link_to 'Show', person_path(person), class: [:btn, "btn-success", "btn-lg", "col-md-5", "col-sm-5"]
						= link_to 'Edit', edit_person_path(person), class: [:btn, "btn-success", "btn-lg", "col-sm-5", "col-md-5", "col-md-offset-2", "col-sm-offset-2"], id: "#{person.id}_edit"
