= link_to 'Back', households_path, class: :button, id: :back, method: :get
%h1= @household.name + " Household"

.row
  .col-sm-12
    = link_to 'Edit', edit_household_path(@household), class: [:btn, "btn-large", "btn-success", :right]
%br

.row
  = household_panel @household, 4 do 
    - "lorum ipsom"

.row
  .col-sm-12
    = link_to 'Edit', edit_household_path(@household), class: [:btn, "btn-large", "btn-success", :right]

